data
__pycache__
.ipynb_checkpoints
*.pyc
data/caged/clean/caged_antigo/2019/ano=2019/mes=1/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/2019/ano=2019/mes=10/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/2019/ano=2019/mes=11/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/2019/ano=2019/mes=12/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/2019/ano=2019/mes=2/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/2019/ano=2019/mes=3/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/2019/ano=2019/mes=4/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/2019/ano=2019/mes=5/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/2019/ano=2019/mes=6/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/2019/ano=2019/mes=7/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/2019/ano=2019/mes=8/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/2019/ano=2019/mes=9/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=1/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=10/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=11/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=12/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=2/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=3/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=4/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=5/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=6/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=7/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=8/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2007/mes=9/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=1/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=10/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=11/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=12/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=2/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=3/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=4/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=5/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=6/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=7/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=8/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2008/mes=9/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=1/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=10/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=11/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=12/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=2/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=3/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=4/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=5/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=6/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=7/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=8/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2009/mes=9/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2010/mes=1/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2010/mes=10/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2010/mes=11/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2010/mes=12/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2010/mes=2/sigla_uf=SP/caged_antigo.csv
data/caged/clean/caged_antigo/ano=2010/mes=3/sigla_uf=SP/caged_antigo.csv
data/caged/raw/caged_antigo/2007/1/CAGEDEST_012007.csv
data/caged/raw/caged_antigo/2007/10/CAGEDEST_102007.csv
data/caged/raw/caged_antigo/2007/11/CAGEDEST_112007.csv
data/caged/raw/caged_antigo/2007/12/CAGEDEST_122007.csv
data/caged/raw/caged_antigo/2007/2/CAGEDEST_022007.csv
data/caged/raw/caged_antigo/2007/3/CAGEDEST_032007.csv
data/caged/raw/caged_antigo/2007/4/CAGEDEST_042007.csv
data/caged/raw/caged_antigo/2007/5/CAGEDEST_052007.csv
data/caged/raw/caged_antigo/2007/6/CAGEDEST_062007.csv
data/caged/raw/caged_antigo/2007/7/CAGEDEST_072007.csv
data/caged/raw/caged_antigo/2007/8/CAGEDEST_082007.csv
data/caged/raw/caged_antigo/2007/9/CAGEDEST_092007.csv
data/caged/raw/caged_antigo/2008/1/CAGEDEST_012008.csv
data/caged/raw/caged_antigo/2008/10/CAGEDEST_102008.csv
data/caged/raw/caged_antigo/2008/11/CAGEDEST_112008.csv
data/caged/raw/caged_antigo/2008/12/CAGEDEST_122008.csv
data/caged/raw/caged_antigo/2008/2/CAGEDEST_022008.csv
data/caged/raw/caged_antigo/2008/3/CAGEDEST_032008.csv
data/caged/raw/caged_antigo/2008/4/CAGEDEST_042008.csv
data/caged/raw/caged_antigo/2008/5/CAGEDEST_052008.csv
data/caged/raw/caged_antigo/2008/6/CAGEDEST_062008.csv
data/caged/raw/caged_antigo/2008/7/CAGEDEST_072008.csv
data/caged/raw/caged_antigo/2008/8/CAGEDEST_082008.csv
data/caged/raw/caged_antigo/2008/9/CAGEDEST_092008.csv
data/caged/raw/caged_antigo/2009/1/CAGEDEST_012009.csv
data/caged/raw/caged_antigo/2009/10/CAGEDEST_102009.csv
data/caged/raw/caged_antigo/2009/11/CAGEDEST_112009.csv
data/caged/raw/caged_antigo/2009/12/CAGEDEST_122009.csv
data/caged/raw/caged_antigo/2009/2/CAGEDEST_022009.csv
data/caged/raw/caged_antigo/2009/3/CAGEDEST_032009.csv
data/caged/raw/caged_antigo/2009/4/CAGEDEST_042009.csv
data/caged/raw/caged_antigo/2009/5/CAGEDEST_052009.csv
data/caged/raw/caged_antigo/2009/6/CAGEDEST_062009.csv
data/caged/raw/caged_antigo/2009/7/CAGEDEST_072009.csv
data/caged/raw/caged_antigo/2009/8/CAGEDEST_082009.csv
data/caged/raw/caged_antigo/2009/9/CAGEDEST_092009.csv
data/caged/raw/caged_antigo/2010/1/CAGEDEST_012010.csv
data/caged/raw/caged_antigo/2010/10/CAGEDEST_102010.csv
data/caged/raw/caged_antigo/2010/11/CAGEDEST_112010.csv
data/caged/raw/caged_antigo/2010/12/CAGEDEST_122010.csv
data/caged/raw/caged_antigo/2010/2/CAGEDEST_022010.csv
data/caged/raw/caged_antigo/2010/3/CAGEDEST_032010.csv
data/caged/raw/caged_antigo/2010/4/CAGEDEST_042010.csv
data/caged/raw/caged_antigo/2010/4/CAGEDEST_042010.txt
data/caged/raw/caged_antigo/2019/1/CAGEDEST_012019.csv
data/caged/raw/caged_antigo/2019/10/CAGEDEST_102019.csv
data/caged/raw/caged_antigo/2019/11/CAGEDEST_112019.csv
data/caged/raw/caged_antigo/2019/12/CAGEDEST_122019.csv
data/caged/raw/caged_antigo/2019/2/CAGEDEST_022019.csv
data/caged/raw/caged_antigo/2019/3/CAGEDEST_032019.csv
data/caged/raw/caged_antigo/2019/4/CAGEDEST_042019.csv
data/caged/raw/caged_antigo/2019/5/CAGEDEST_052019.csv
data/caged/raw/caged_antigo/2019/6/CAGEDEST_062019.csv
data/caged/raw/caged_antigo/2019/7/CAGEDEST_072019.csv
data/caged/raw/caged_antigo/2019/8/CAGEDEST_082019.csv
data/caged/raw/caged_antigo/2019/9/CAGEDEST_092019.csv
data/caged/raw/caged_antigo_ajustes/2007/CAGEDEST_AJUSTES_2007.csv
data/caged/raw/caged_antigo_ajustes/2008/CAGEDEST_AJUSTES_2008.csv
data/caged/raw/caged_antigo_ajustes/2009/CAGEDEST_AJUSTES_2009.csv
data/caged/raw/caged_antigo_ajustes/2010/2/CAGEDEST_AJUSTES_022010.csv
data/caged/raw/caged_antigo_ajustes/2011/3/CAGEDEST_AJUSTES_032011.csv
data/caged/raw/caged_antigo_ajustes/2014/1/CAGEDEST_AJUSTES_012014.csv
